@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #337ab7;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
  
.chat-icon i {
font-size: 30px;
}

.chat-window {
position: fixed;
bottom: 100px;
right: 20px;
width: 300px;
height: 400px;
background-color: #fff;
border: 1px solid rgb(168, 168, 168);
border-top:  1px solid #337ab7;
border-radius: 5px;
display: none;
}

.chat-header {
background-color: #337ab7;
color: #fff;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.chat-header h3 {
margin: 0;
}

.chat-body {
padding: 10px;
height: 320px;
overflow-y: auto;
background-color:#eff3f8;
}

.chat-footer {
padding: 10px;
display: flex;
align-items: center;
}

.chat-footer input[type="text"] {
flex-grow: 1;
padding: 5px;
border: 1px solid #ccc;
border-radius: 3px;
}

.chat-footer button {
background-color: #337ab7;
color: #fff;
padding: 3px 13px;
border: none;
border-radius: 3px;
margin-left: 10px;
cursor: pointer;
}

.messageChat {
    background-color: #ffffff;
    color: #333;
    align-self: flex-start;
    margin-left: 6%;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.messageUser {
    background-color: #C9E5FC;
    color: rgb(22, 22, 22);
    align-self: flex-end;
    margin-left: 25%;
    border-radius: 10px;
    border-top-right-radius: 0;
}

.messageUser,
.messageChat {
    
    max-width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    
    word-wrap: break-word;
}
.boticon{
    height: 10%;
    width: 12%;
    display: inline-flex;
}
#messageInput:hover{
    border-color: #337ab7;
}
.msgTime{
    align-self: flex-start;
    margin-left: 6%;
    color:gray;
    font-family: 'Caveat', cursive;
}
.msgTimeUser{
    align-self: flex-start;
    margin-left: 25%;
    color:gray;
    font-family: 'Caveat', cursive;
}
.content{
    display: flex;
    align-items:flex-start;
}